{{define "imports"}}
use std::io::Cursor;
use polyglot_rs::{DecodingError, Encoder, Decoder, Kind};
{{ if .dependencies.Enums -}}
use num_enum::TryFromPrimitive;
use std::convert::TryFrom;
{{ end -}}
{{ if .dependencies.Maps -}}
use std::collections::HashMap;
{{ end -}}
{{end}}